/* Generales */

:root {
  --color-primario: #d8b496;
  --color-secundario: #Fa7991;
}

body{
  color:#FFF; 
	font-family: 'Dancing Script', cursive;
}
.banner-date{
	font-size: 4rem;	
}
.banner-text{
	font-size: 10rem;	
}
.banner-text{
	font-size: 10rem;	
}


.css-logo{
	width:100%; 
	height:100%; 
	border-radius:0%; 
	background-color: #fa7991; 
	color:#FFF; 
	text-align:center; 
	font-family: 'EB Garamond', serif;
	font-weight: 700;	
}

.css-logo.rounded{
	border-radius:50%; 
}

.css-logo-text{
	padding-top:19px; 
	font-size:16px;
}

.css-logo-text > i {
	font-size:10px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 17px;
}


h4
{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--color-primario);
  border-radius: 30px;
  padding: 10px 40px;
  border: 1px solid var(--color-primario);
  text-transform: uppercase;
}

.btn:hover{
  color:var(--color-primario);
  background-color: white;
}

.btn-alt{
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primario);
  background-color: white;
}

.btn-alt:hover{
  color: white;
  background-color: var(--color-primario);
  border: 1px solid white;
}

.btn:focus{
  box-shadow:none;
}


.fancybox-bg{
  background-color: var(--color-primario) !important;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
}


/* Animacion fade in */
.fade-in{
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



/* Flecha para scroll de portada */
.scroll-down {
	position: absolute;
	bottom: 70px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  z-index: 9;
  left: calc(50% - 15px);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/*ANIMACION ICONOS*/

.bounce-in {
  animation: bounce-in 2s ease infinite;
  width: 150px;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

/* ---------- */


/* Portada */
section.portada{
  height: 100vh;
  overflow-x: hidden;
}


.divider {
	position:	relative;
  background-color: var(--color-secundario);
	background-size:cover;
	-webkit-background-size:cover;
	background-attachment: scroll;
	background-position:
	center center;
	background-repeat:
	no-repeat;
	color:#FFF;
	-webkit-backface-visibility: hidden;
}

/* dont-miss-it */

h2#dont-miss-it-title{
  
	font-size:5rem; 
	margin-bottom:30px; 
	font-family: 'Dancing Script', cursive;
}

h3#dont-miss-it-subtitle{
	font-size:4rem; 
	margin-bottom:30px; 
	font-family: 'Dancing Script', cursive;
}
#divider-title{
	font-family: 'Great Vibes', cursive;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
}

#divider-title-line{
	font-size: 4.6rem;
	line-height: 4.6rem;
}

.circle-countdown{
	width:100%; 
	margin:0 auto; 
	margin-top: 1.5rem
}

.circle-countdown.is-countdown {
	background-color:transparent;
	border:none;
  font-family: 'Montserrat', sans-serif;
}

.circle-countdown .countdown-amount {
	background-color: white;
	width:5.3rem;
	height:5.3rem;
	border-radius:50%;
	display:block;
	padding-top:1.3rem;
	font-size:1.8rem;
	margin:0 auto;
}

.circle-countdown .countdown-period {
	padding:0.6rem;
	display:block;
	text-align:center;
	font-size:1rem;
	text-transform:uppercase;    
}




    



/* Galeria /Historia */
section.galeria{
  padding-bottom: 50px;
}

section.galeria h4{
  text-align: center;
  margin-bottom: 60px;
}
section.galeria .item-galeria{
  padding: 0 3px;
  margin-bottom: 5px;
}

section.galeria .item-galeria a img{
  transition: all 0.3s ease-out;
  border-radius: 10px;
}


section.galeria .item-galeria a:hover img{
  transform: scale(1.1);
  position: relative;
  z-index: 999;
}




/* CONFIRMAR ASISTENCIA */


.asistencia {
	background-color: var(--color-secundario);
   
}

section.confirmar-asistencia{
  text-align: center;
  padding: 80px 0 100px;
}

section.confirmar-asistencia h4 {
    text-align: center;
    margin-bottom: 25px;
}

section.confirmar-asistencia p{
  margin-bottom: 20px;
}

section.confirmar-asistencia .btn-alt{
  margin: 10px;
}

/* ---------- */

/* DRESS CODE */

section.dresscode{
  text-align: center;
  padding: 70px 0 70px;
  background-color: var(--color-secundario);
}

section.dresscode h4 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

section.dresscode p{
  color: white;
}

/* ---------- */







/* ---------- */

/* PROTOCOLO */

section.protocolo{
  text-align: center;
  padding: 90px 0 90px;
  background-color:var(--color-primario);
}

section.protocolo h4 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

section.protocolo img.icon{
  width: 150px;
}

section.protocolo p{
  color: white;
}



/* ---------- */


/* ----------------------------------------------*/
/* Footer Section				 			 */
/* ----------------------------------------------*/
.footer {
color: var(--color-secundario);
}

#thank-you{
	text-align:center; 

	-ms-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
	transform: rotate(-10deg);

}

#thank{
	font-size:3rem; 
	line-height:1rem;
}

#you{
	font-size:3rem; 
	line-height:1rem;
}

#footer-name{

	font-size:3rem; 
	color:#FFF; 
	letter-spacing:0.18rem; 
	
}


/* ---------- */

/* CONTACTO */

section.contacto{
  padding: 100px 0;
}

section.contacto h4{
  font-weight: 400;
  font-size: 25px;
}

section.contacto p{
  font-weight: 300;
}

section.contacto a{
  color: #35aa7f;
}

section.contacto a:hover{
  color: black;
}

section.contacto ul li{
  margin-bottom: 5px;
}

section.contacto ul li i{
  font-size: 18px;
  margin-right: 3px;
}





